// COLORS
$green-600: #28a745;
$green-200: #E6F9ED;

$red-600: #dc3545;
$red-200: #ffedef;

$black-900: #091321;
$black-800: #222B37;
$black-700: #535A64;
$black-600: #6B717A;
$black-500: #848990;
$black-400: #9DA1A6;
$black-300: #B5B8BC;
$black-200: #CED0D3;
$black-100: #E6E7E9;
$black-50: #F3F3F4;
$black-0: #FFFFFF;

$blue-200: #93baff;
$blue-300: #80a9fc;
$blue-400: #1f73ed;
$blue-800: #0a3676;

$main-white: white;
$main-black: black;

$red-900: #D70444;
$red-800: #E60046;
$red-700: #EA2662;
$red-600: #EF5987;
$red-500: #F380A2;
$red-400: #F6A6BE;
$red-300: #F9BFD1;
$red-200: #FBD9E3;
$red-100: #FDEBF0;


// FONTS
$inconsolata-font: 'Inconsolata', sans-serif;


// TRANSITION

$transition: 0.3s ease-out;
