@import "./_reset.css";
@import "./_typography.scss";
@import './_icomoon.css';
@import "../styleResources/_variables.scss";
@import "webix/webix.css";
@import "../../../core/webix/WebixCommon.scss";

/* prevents screen shifts when the scrollbar appears */
html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

body {
  //font-family: 'Inconsolata', sans-serif;
  font-weight: 400;
  width: 100%;
}

.nuxt-link-exact-active, .nuxt-link-active {
  text-decoration: none;
}
