.custom-items-table {
  .webix_last_row {
    border-bottom-color: $gray-200 !important;
  }
}

.custom-table-header {
  background-color: $main-white;
  border-right: 1px solid $gray-200;
  font-size: 12px;
  line-height: 12px !important;
  padding: 20px;
}


